@media screen and (max-width: 800px) {
.nomob
{
    display: none !important;
}

.pictext .pictext-pic,
.pictext .pictext-text,
.awards-list .award,
.colcat-list .colcat
{
    width: 100%;
    max-width: 560px;
    margin: 0 auto !important;
    float: none !important;
    text-align: left !important;
}
.colcat-list .colcat
{
    height: auto !important;
    padding-bottom: 50px;
}

}
@media screen and (max-width: 740px) {

.header_contain
{
    min-width: 320px;
}

.header
{
    width: 100%;
}

.logo
{
    left: 10px;
}

.headernav
{
    top: 30px;
    right: 20px;
}

.headernav .hnavcurrent,
.headernav a
{
    font-size: 75%;
}

.menubar_contain,
.menubar
{
    width: 100%;
    min-width: 320px;
    height: 60px;
}

.main_nav .grub
{
    background: url('/img/ui/grub.png') no-repeat 13px 17px;
    background-size: 30px 25px;
    -moz-background-size: 30px 25px;
    -webkit-background-size: 30px 25px;
    -ms-background-size: 30px 25px;
    -o-background-size: 30px 25px;
    border-right: solid 2px #FFFFFF;
    width: 60px;
    height: 60px;
    position: relative;
}

.main_nav.active .grub
{
    background: url('/img/ui/grub.png') no-repeat 14px 18px #44A837;
    background-size: 30px 25px;
    -moz-background-size: 30px 25px;
    -webkit-background-size: 30px 25px;
    -ms-background-size: 30px 25px;
    -o-background-size: 30px 25px;
}

.main_nav .navcontent
{
    display: none;
    width: 230px;
    height: auto;
    position: absolute;
    left: 0px;
    top: 60px;
    background-color: #44A837;
    z-index: 100;
}

.main_nav.active .navcontent
{
    display: block;
}

.main_nav .navcontent .navitem
{
    display: block;
    width: 230px;
    height: 60px;
    position: relative;
    border-bottom: solid 1px #FFFFFF;
}

.main_nav .navcontent .navitem .nava
{
    display: block;
    width: 230px;
    height: 59px;
    padding: 13px 0px 10px 0px;
}

.main_nav .navcontent .navitem:hover .nava
{
    background-color: #349326;
}

.main_nav .navcontent .navitem .nava .ico
{
    position: absolute;
    left: 10px;
    top: 9px;
}

.main_nav .navcontent .navitem .nava .txt
{
    font-size: 18px;
    line-height: 33px;
    text-align: left;
    height: 33px;
    width: 140px;
    position: absolute;
    left: 60px;
    top: 14px;
    border-right: none;
}

.navitem_dd .nava
{
    background: url('/img/ui/rarrow.png') right center no-repeat;
}

.navitem_dd:hover .nava
{
    background: url('/img/ui/rarrow.png') right center no-repeat #349326;
}

.navitem_dd.active .nava
{
    background: url('/img/ui/darrow.png') right center no-repeat #349326;
}

.navitem_dd .navitem_dd_cont
{
    width: 230px;
    top: 60px;
    left: 0px;
}

.navitem_dd:hover .navitem_dd_cont
{
    display: block;
}

.navitem_dd.active .navitem_dd_cont
{
    display: block;
}

.navitem_dd .navitem_dd_cont a
{
    font-size: 18px;
    width: 230px;
    padding-left: 60px;
    border-top: 0px;
    border-bottom: solid 1px #FFFFFF;
    background-color: #349326;
}

.navitem_dd .navitem_dd_cont a:hover
{
    background-color: #248316;
}

.search-main
{
    top: 10px;
    right: 10px;
    max-width: 400px;
    width: 60%;
    height: 40px;
}

.search-main.search-results-searchbox
{
    width: 90%;
}

.search-main input[type="text"]
{
    max-width: 350px;
    width: 80%;
    height: 40px;
    font-size: 21px;
    line-height: 40px;
}

.search-main input[type="submit"]
{
    background: url('/img/ui/search-icon.png') no-repeat 7px 7px;
    background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    -webkit-background-size: 24px 24px;
    -ms-background-size: 24px 24px;
    -o-background-size: 24px 24px;
    width: 40px;
    height: 40px;
    top: 0px;
    right: 0px;
}

.search-main.search-results-searchbox input[type="submit"]
{
    background: url('/img/ui/search-icon-coloured.png') no-repeat 7px 7px;
    background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    -webkit-background-size: 24px 24px;
    -ms-background-size: 24px 24px;
    -o-background-size: 24px 24px;
}

body
{
    min-width: 400px;
}

.container
{
    width: 100%;
    min-width: 400px;
}



.sitemap_contain
{
    width: 100%;
    min-width: 320px;
    padding-top: 30px;
}

.sitemap_contain .sitemap
{
    width: 100%;
    min-width: 320px;
    padding-top: 30px;
}

.logo-footer
{
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0px auto 35px 10px;
}

.footer-sitemap
{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    min-width: 320px;
}

.footer-sitemap-group
{
    float: left;
    width: 100%;
    min-width: 320px;
    padding: 0px 15px;
    margin-bottom: 55px;
}

.footer-sitemap-group .sitemap-group-title
{
    font-size: 21px;
    margin-bottom: 15px;
}

.footer-sitemap-group .sitemap-group-items
{
    width: 100%;
    min-width: 320px;
}

.footer-sitemap-group .sitemap-group-items li
{
    height: 30px;
}

.footer-sitemap-group .sitemap-group-items li,
.footer-sitemap-group .sitemap-group-items li a
{
    width: 160px;
    font-size: 18px;
    line-height: 30px;
}
.footer-sitemap-group .sitemap-group-items li a
{
    width: 150px;
}

.footerbar_contain
{
    width: 100%;
    min-width: 320px;
}

.footerbar_contain .footerbar
{
    width: 100%;
    min-width: 320px;
    min-height: 50px;
    height: auto;
}

.footer_copyright
{
    font-size: 12px;
    top: 0px;
    left: 0px;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
    position: relative;
    float: left;
}

.footer_links
{
    top: 0px;
    right: 0px;
    margin-top: 12px;
    margin-right: 20px;
    margin-bottom: 20px;
    line-height: 13px;
    position: relative;
    float: right;
}

.footer_links a
{
    font-size: 13px;
}

.footer_links .sep
{
    border-right: solid 2px #FFFFFF;
}

.footer_links a
{
    font-size: 14px;
}

.section .section_content
{
    width: 100%;
}

.athird,
.twothird,
.twouponedown,
.topdown,
.topdownwide
{
    float: none;
    width: 100%;
    min-width: 320px;
    height: 256px;
    margin-right: 0px;
}

.twothird,
.twouponedown,
.topdown,
.topdownwide
{
    height: auto;
}

.athird
{
    height: 380px;
}

.athird a
{
    width: 100%;
    min-width: 320px;
    height: 380px;
}

.athirdpictxt
{
    width: 50%;
    min-width: 160px;
    float: left;
}
.athirdpictxt a
{
    width: 100%;
    min-width: 160px;
    height: 380px;
    margin-bottom: 15px;
}

.athirdpictxt .athirdpic img
{
    width: 100%;
    min-width: 160px;
}

.athirdpictxt .athirdtitle,
.athirdpictxt .athirdtxt
{
    padding: 0px 10px;
}

.superbig-btn
{
    width: 90%;
    height: 70px;
    border: solid 1px #006C67;
    font-size: 24px;
    line-height: 68px;
}

.mainslidecaption
{
    top: 0px;
    padding: 36px 15px 20px 27px;
}

.twoone .athird:first-of-type
{
    margin-bottom: 0px;
}

.twoup
{
    margin: 0px;
}

.onedown
{
    width: 100%;
}

.onedown.learnavian
{
    background: url('/img/ui/learnavian.jpg') center no-repeat #DDDDDD;
}

.topdown
{
    margin: 0px;
}

.topdownitem
{
    height: 270px !important;
    margin: 0px;
    float: left;
}

.topdownwideup,
.topdownwidebottom
{
    width: 100%;
    margin: 0px;
}

.topdownwideup.fb
{
    height: 500px;
}

.topdownwidebottom.downapp
{
    background: #4F7857;
}

.downappcont
{
    background: url('/img/ui/downapp.png') no-repeat 10px 33px #4F7857;
    width: 320px;
    margin: 0px auto;
    position: relative;
    display: block;
    height: 177px;
}

.topdownwidebottom.downapp .downappcont .itemtitle
{
    right: 10px;
    width: 180px;
    top: 50px;
    font-size: 17px;
}

.topdownwidebottom.downapp .downappcont .btn
{
    right: 35px;
    top: 104px;
    font-size: 15px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 12px 20px;
}


}

@media screen and (max-width: 704px) {

.mainslidecaption
{
    top: 0px;
    padding: 36px 15px 20px 27px;
    height: 100%;
    width: 60%;
}

.nomob
{
    display: block !important;
}

.nomob-2
{
    display: none !important;
}

.articlepage .article,
.articlepage .article-sidebar
{
    width: 100%;
    max-width: none;
    float: none;
    clear: both;
}

.articlepage .article .article-contents
{
    margin-bottom: 0px;
}

.halfpages .halfpage
{
    width: 100%;
    max-width: none;
    float: none;
}

.halfpagepadded
{
    padding: 0px 15px;
}

.paintcalc .paintcalc-seg .mat .matlab
{
    font-size: 16px !important;
}

.layoutapppromo
{
    padding: 20px 20px 20px 20px;
}

.layoutapppromo .iphone
{
    display: none;
}

}

@media screen and (max-width: 640px) {

.athirdpictxt
{
    width: 100%;
    min-width: 320px;
    float: none;
    height: auto;
}
.athirdpictxt a
{
    min-width: 320px;
    margin-bottom: 15px;
    height: auto;
}

}

@media screen and (max-width: 460px) {

    .onedown.learnavian
    {
        background: url('/img/ui/learnavian.jpg') right no-repeat;
    }

    .arti-thumblist .arti-thumblist-item
    {
        padding: 20px;
    }

    .arti-thumblist .arti-thumblist-item .arti-thumblist-thumb
    {
        position: relative;
        margin-bottom: 10px;
    }
    .fouronesquare
    {
        width: 218px; max-width: 218px;
        height: 218px; max-height: 218px;
    }

    .nomob-3,
    .nomob
    {
        display: none !important;
    }

}

@media screen and (max-width: 1137px) {

	.arti-section
	{
		padding: 0px 15px;
	}

    .content_sbar,
    .content_sbar.wide_sbar
    {
        padding-left: 0px;
    }
    .content_sbar .sidebar
    {
        float: none;
        clear: both;
        position: relative;
        width: 100%;
        margin-bottom: 15px;
        padding-left: 230px;
    }
    .content_sbar .sidebar .sidebar-title
    {
        position: absolute;
        top: 15px;
        left: 15px;
        width: 200px;
    }
    .content_sbar .sidebar .sidebar-group
    {
        border-top: 0px;
        border-left: solid 1px #006C67;
        padding: 0px 25px 0px 0px;
        float: left;
    }
    .content_sbar .sidebar .sidebar-group-wide
    {
        min-width: 300px;
    }
    .content_sbar .sidebar .sidebar-group-wide .filslider
    {
        width: 80%;
    }
    .sbarcontent,
    .wide_sbar .sbarcontent
    {
        width: 100%;
        float: none;
        clear: both;
    }

    .content_sbar.wide_sbar .sidebar
    {
        width: 100%;
        position: relative;
        min-height: 325px;
    }

    .content_sbar.wide_sbar .sidebar .sbar-image
    {
        width: 28%;
        margin-bottom: 20px;
    }

    .sidebar_link:first-child
    {
        border-top: none;
    }

    .sbarcontent_title,
    .bigform_left .linkbtn,
    .bigform_left .bigformsmallnote,
    .bigform_left .bigform-error
    {
        text-align: center;
    }

    .sbarcontent_title
    {
        margin-top: 50px;
    }

    .bigform_left
    {
        margin-left: auto;
    }

    .gmaparea, .gmap, .gmap_object
    {
        width: 100%;
    }
    .store, .store .storeinfo, .storelist.scrollbarcust .overview
    {
        width: 100%;
        min-width: 100%;
    }
    .store .storeinfo .storename,
    .store .storeinfo .store-dist
    {
        width: 200px;
    }
    .storeinfo
    {
        padding-right: 15px;
    }

    .pconly
    {
        display: none;
    }

    .arti-section-mob
    {
        display: block;
    }

    .arti-section-img
    {
        width: 100%;
        float: none;
    }

    .arti-section-img img
    {
        max-width: 100%;
    }

    .arti-sticky
    {
        width: 67%;
        float: left;
        margin-left: 3%;
        margin-bottom: 25px;
        min-height: 325px;
    }

    .arti-sticky .arti-section .arti-title
    {
        width: 400px;
    }

    .sbar-infos
    {
    }

    .arti-section
    {
        clear: both;
    }

    .content_sbar .sidebar-folded
    {
        padding: 0px;
    }

    .content_sbar .sidebar-folded .sidebar-title
    {
        position: relative;
        top: 0px;
        left: 0px;
        clear: both;
        cursor: pointer;
        width: 100%;
        padding: 20px;
        color: #FFFFFF;
        background: url('/img/ui/accorarrowlarge.png') right -129px no-repeat #006c67;
    }

    .content_sbar .sidebar-folded .sidebar-title:hover
    {
        background: url('/img/ui/accorarrowlarge.png') right -129px no-repeat #208c87;
    }

    .content_sbar .sidebar-folded.active .sidebar-title
    {
        background: url('/img/ui/accorarrowlarge.png') right -204px no-repeat #006c67;
    }

    .content_sbar .sidebar-folded.active .sidebar-title:hover
    {
        background: url('/img/ui/accorarrowlarge.png') right -204px no-repeat #208c87;
    }

    .sidebar-accordion
    {
        height: 0px;
        overflow: hidden;
        margin-top: 0px;
        padding-right: 15px;
    }

    .active .sidebar-accordion
    {
        height: auto;
        border-top: solid 1px #006c67;
        padding-top: 10px;
    }

    .sidebar-accordion .accgroup,
    .sidebar-accordion>.accgroupname
    {
    }

    .arti-section-img-full
    {
        max-width: 100%;
    }

    .arti-section-img-full img
    {
        max-width: 100%;
    }

    .mobilenogap
    {
        margin-bottom: 0px;
    }

    .viszer_controls .viszer_parts
    {
        width: 45%;
    }

    .viszer_controls .viszer_palls
    {
        width: 55%;
    }

    .viszer_controls .viszer_parts .viszer_part .viszer_part_name
    {
        font-size: 17px;
        max-width: 180px;
    }

    .showlabel
    {
        padding: 3px 9px;
        height: 26px;
        line-height: 20px;
    }

    .flscrnbtn
    {
        display: none;
    }

    .sbarcontent-arti .sbar-infos .sbar-info
    {
    	display: block;
    }

    .sbarcontent-arti .sbar-infos .btn.btn_invicon.btn_videos
    {
    	clear: both;
    	float: none;
    }

}

@media screen and (max-width: 970px) {
    .sbarcontent-arti .likeboxbtn
    {
        position: relative;
        margin-bottom: 15px;
    }

    .arti-sticky .arti-section .arti-title
    {
        width: 100%;
        max-width: 100%;
    }

    .arti-sticky .arti-section .arti-title.arti-title-lmt
    {
    	padding-right: 250px;
    }

}

@media screen and (max-width: 870px) {
    .arti-section-img
    {
        width: 100%;
        float: none;
        margin-bottom: 15px;
    }

    .arti-sticky
    {
        width: 100%;
        margin-left: 0px;
        float: none;
    }

    .viszer_collist_item .viszer_collist_item_partname
    {
        font-size: 16px;
    }
}

@media screen and (max-width: 760px) {

    .content_sbar .sidebar
    {
        padding-left: 15px;
    }

    .content_sbar .sidebar-folded
    {
        padding: 0px;
    }

    .content_sbar .sidebar .sidebar-title
    {
        position: relative;
        top: 0px;
        left: 0px;
        width: 100%;
        font-size: 20px;
        border-bottom: solid 1px #006C67;
        padding-top: 0px;
        margin-bottom: 10px;
    }
    .content_sbar .sidebar-folded .sidebar-title
    {
        position: relative;
        top: 0px;
        left: 0px;
        width: 100%;
        font-size: 20px;
        border-bottom: solid 1px #006C67;
        padding-top: 20px;
        margin-bottom: 0px;
    }
    .content_sbar .sidebar .sidebar-group
    {
        border-left: 0px;
    }
    .storesearchcontain .storesearchbox
    {
        float: none;
        width: 100%;
        margin-bottom: 15px;
    }
    .storesearchcontain
    {
        height: 180px;
    }
    .storesearchcontain .btn
    {
        margin-left: 0px;
        width: 60%;
    }
    .storesearchcontain .btn
    {
        margin-left: 0px;
        width: 60%;
    }
    .storesearchcontain .btn-sml
    {
        margin-right: 10%;
        width: 30%;
    }
    .store .storepic
    {
        display: none;
    }
    .store .storelink
    {
        padding: 15px 0px 15px 20px;
    }

    .storesearchcontain .option-select
    {
        width: 100%;
        margin-bottom: 15px;
    }

    .storesearchcontain .option-select .select-cont
    {
        border-left: solid 1px #54B347;
    }

    .officesearchcontain .option-select
    {
        width: 50%;
    }

    .officesearchcontain .btn
    {
        width: 23%;
    }

    .paintcalc .paintcalc-seg .mat .matlab
    {
        padding: 30px 10px 0px 10px;
    }

    .paintcalc .paintcalc-seg .mat input[type="radio"]:checked + label.matlab
    {
        padding: 23px 10px 0px 10px;
    }

    .tabs
    {
        width: 40%;
        float: left;
    }

    .tabs .tab
    {
        width: 100% !important;
        clear: both;
        float: none !important;
        text-align: left !important;
    }

    .tabcontents
    {
        width: 60%;
        float: left;
    }

    .tabcontents .tabcontent
    {
        width: 100%;
        height: 500px;
    }

	.griddsitemtheme
	{
		width: 100% !important;
	}
	.griddsitemtheme .tempbox .temppic
	{
		height: 280px;
	}
	.griddsitemtheme.height-5p5
	{
		height: 340px !important;
	}

}

@media screen and (max-width: 640px) {

    .viszer_controls .viszer_parts .viszer_part .viszer_part_name
    {
        font-size: 17px;
        max-width: 80px;
        white-space: normal;
        vertical-align: middle;
        line-height: 20px;
    }

	.viszer_controls .viszer_parts
	{
		width: 25%;
	}

	.viszer_controls .viszer_palls
	{
		width: 75%;
	}

    .viszer_collist_item .viszer_collist_item_partname,
    .viszer_part .viszer_part_name
    {
        display: none !important;
    }

    .viszer_collist_item .viszer_collist_item_colour
    {
        width: 100%;
    }

    .viszer_saveform
    {
        min-height: 280px;
    }

    .viszer_saveform .viszer_fieldcol
    {
        width: 50%;
    }

    .viszer_saveform .viszer_fieldcol:nth-of-type(2n)
    {
        width: 50%;
    }

    .viszer_saveform .viszer_fieldcol:nth-of-type(3n)
    {
        width: 100%;
    }

	.viszer_pall_selector
	{
    	padding: 5px 0px;
	}

	.viszer_pall_selector .option span
	{
		display: none;
	}

}

@media screen and (max-width: 590px) {

    .store .storeinfobtn
    {
        position: static;
        margin-top: 15px;
    }
    .store .storeinfo .storecontgroup
    {
        margin-top: 0px;
        padding-left: 0px;
    }
    .store .storeinfo .storecont
    {
        margin-top: 10px;
    }
    .store .storeinfo .storecont.store-phone
    {
        position: static;
    }

    .modal-contain .modal-col
    {
        top: 30px;
    }


    .paintcalc .paintcalc-seg.seg-calc,
    .paintcalc .paintcalc-seg.seg-rslt
    {
        width: 50%;
        clear: none;
        float: left;
    }
    .paintcalc .paintcalc-seg.seg-mat
    {
        width: 100%;
        clear: both;
        float: none;
        min-height: 178px;
    }

    .paintcalc .paintcalc-seg .mat label.matlab
    {
        font-size: 16px;
    }

    .result .result-field
    {
        font-size: 21px;
    }

    .paintcalc .paintcalc-seg .btn
    {
        font-size: 20px;
        padding: 15px 15px;
    }

    .arti-sticky .arti-section .arti-title.arti-title-lmt
    {
    	padding-right: 0px;
    }

    .btn-colsave.btn-absolute-tr
    {
    	position: relative;
    	top: auto;
    	right: auto;
    	margin: 0px 0px 20px auto;
    }

    .searchcontain .searchbox {
		width: 56%;
	}
	.searchcontain .btn
	{
		width: 22%;
	}
	.searchcontain .btn-sml
	{
		width: 18%;
	}


}

@media screen and (max-width: 460px) {

    .gridcol
    {
        width: 100%;
        max-width: 100%;
    }

    .viszer_controls .viszer_parts
    {
        width: 27%;
    }

    .viszer_controls .viszer_palls
    {
        width: 73%;
    }

    .griddsitemtheme
    {
        padding-bottom: 10px;
        height: auto !important;
        max-height: 350px !important;
    }

    .paintcalc .paintcalc-seg .mat.mat-wprf .matlab
    {
        padding: 30px 10px 0px 10px;
        line-height: 16px;
    }

    .paintcalc .paintcalc-seg .mat.mat-wprf input[type="radio"]:checked + label.matlab
    {
        padding: 23px 10px 0px 10px;
    }

    .tabbed_content .tabs .tab
    {
        font-size: 14px;
    }

	.griddsitemtheme .tempbox .temppic
	{
		height: 210px;
	}
	.griddsitemtheme.height-5p5
	{
		height: 270px !important;
	}
	.griddsitemtheme .tempbox .tempname
	{
		font-size: 20px;
	}

}

@media screen and (max-width: 1080px) {

    .paintcalc .paintcalc-seg .seg-title
    {
        font-size: 22px;
    }

    .paintcalc .paintcalc-seg .numbers input[type="text"]
    {
        width: 80%;
    }

    .paintcalc .paintcalc-seg .mat .matlab
    {
        font-size: 20px;
    }

}
